<div
  class="w-full h-[100vh] bg-gray-300 flex items-center justify-center relative"
>
  <!-- making the login card  -->
  <div
    class="w-[85%] h-[70%] rounded-lg md:flex items-center lg:w-[850px] bg-white shadow-lg"
  >
    <div
      class="w-full h-full flex items-center justify-center rounded-lg md:w-[50%] md:rounded-none md:rounded-l-lg"
    >
      <!-- the login content part  -->
      <div class="w-[80%] h-[70%]">
        <div class="flex items-center gap-1 justify-center">
          <h3 class="text-center font-semibold uppercase">login</h3>
          <span class="mdi mdi-login text-lg font-semibold"></span>
        </div>
        <p class="text-center tracking-wide py-3">Enter details to login</p>
        <p class="text-[12px] text-red-500 text-center ">{{loginErrorMessage}}</p>
        <!-- container to hold the input items  -->
        <form
          action=""
          [formGroup]="loginForm"
        >
          <div class="flex flex-col items-center gap-3 w-full my-5 text-sm">
            <div class="w-[80%] relative">
              <div class="absolute top-[20%] left-[5px]">
                <span class="mdi mdi-account text-md"></span>
              </div>
              <input
                type="text"
                placeholder="username"
                class="bg-gray-100 text-sm md:text-md -lg rounded-md pl-7 w-full py-2 placeholder:text-black outline-none focus:border-b-[0.5px] focus:border-b-gray-600 focus:rounded-none"
                name="username"
                formControlName="username"
              />
            </div>
            <div
              class="w-[80%]"
              *ngIf="
                field['username']['errors'] && field['username']['touched']
              "
            >
              <p
                class="text-[12px] text-red-500"
                *ngIf="field['username']['errors']['required']"
              >
                Username is required
              </p>
            </div>
            <div class="w-[80%] relative">
              <div class="absolute top-[20%] left-[5px]">
                <span class="mdi mdi-lock text-md"></span>
              </div>
              <input
                [type]="inputType()"
                placeholder="Password"
                class="text-sm md:text-md bg-gray-100 rounded-md w-full py-2 pl-7 pr-8 placeholder:text-black outline-none focus:bg-white focus:border-b-[0.5px] focus:border-b-gray-600 focus:rounded-none"
                name="password"
                formControlName="password"
              />
              <div
                (click)="changeInputType()"
                class="absolute right-[7px] top-[20%] cursor-pointer"
              >
                <span
                  [className]="
                    inputType() == 'password'
                      ? 'mdi mdi-eye-off text-md'
                      : 'mdi mdi-eye text-md'
                  "
                ></span>
              </div>
            </div>
            <div
              class="w-[80%]"
              *ngIf="
                field['password']['errors'] && field['password']['touched']
              "
            >
              <p
                class="text-[12px] text-red-500"
                *ngIf="field['password']['errors']['required']"
              >
                Password is required
              </p>
            </div>
          </div>
          <div class="flex flex-row items-center justify-center mt-5">
            <button
            (click)="handleLoginSubmission()"
            [className]="loginForm.invalid ? 'w-[80%] py-2 bg-primary opacity-[.6] shadow-md text-white rounded-full cursor-pointer' : 'w-[80%] py-2 bg-primary shadow-md text-white rounded-full cursor-pointer'"
            [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </div>
        </form>
        <!-- Dont have an account ?  -->
        <div class="flex items-center justify-center mt-5">
          <div class="flex items-center gap-2 text-sm md:text-md">
            <p>Don't have an account ?</p>
            <a routerLink="/register" class="text-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden w-[50%] h-full bg-white rounded-r-lg md:flex items-center justify-center"
    >
      <!-- adding a container in here to place in gif or something  -->
      <div class="w-full h-full bg-transparent overflow-hidden rounded-r-lg">
        <img
          src="/login-image.jpg"
          alt="...login"
          class="w-full h-full object-cover object-center"
          loading="eager"
        />
      </div>
    </div>
  </div>
</div>
