/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}


#nprogress .bar {
  background : #ff653e ; 
  height : 5px ; 
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff5733, 0 0 5px #ff5733; /* Same color for a consistent look */
}